<div>
  <div class="row">
    <app-line-chart chartLabel="Daily Infections" [chartData]="dailyDeathsData"
                    [chartDataLabels]="dailyDeathsLabels"></app-line-chart>
  </div>
  <div class="row">
    <div class="col">
      <app-bar-chart chartLabel="Count" [chartData]="ageGroupDeathsData"
                     [chartDataLabels]="ageGroupDeathsLabels"></app-bar-chart>
    </div>
    <div class="col">
      <app-pie-chart chartLabel="Gender" [chartData]="genderDeathsData"
                     [chartDataLabels]="genderDeathsLabels"></app-pie-chart>
    </div>
  </div>
</div>
